In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importing the data set of second hand cars.
data = pd.read_csv(r"C:\Users\meera\Desktop\Python projects github\second_hand_cars.csv")
data.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [3]:
data.shape

(892, 6)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
name          892 non-null object
company       892 non-null object
year          892 non-null object
Price         892 non-null object
kms_driven    840 non-null object
fuel_type     837 non-null object
dtypes: object(6)
memory usage: 41.9+ KB

In [5]:
for i in data.columns:
    print(i)
    print(data[i].unique())
    print('')

name
['Hyundai Santro Xing XO eRLX Euro III' 'Mahindra Jeep CL550 MDI'
 'Maruti Suzuki Alto 800 Vxi' 'Hyundai Grand i10 Magna 1.2 Kappa VTVT'
 'Ford EcoSport Titanium 1.5L TDCi' 'Ford Figo' 'Hyundai Eon'
 'Ford EcoSport Ambiente 1.5L TDCi' 'Maruti Suzuki Alto K10 VXi AMT'
 'Skoda Fabia Classic 1.2 MPI' 'Maruti Suzuki Stingray VXi'
 'Hyundai Elite i20 Magna 1.2' 'Mahindra Scorpio SLE BS IV' 'Audi A8'
 'Audi Q7' 'Mahindra Scorpio S10' 'Maruti Suzuki Alto 800'
 'Hyundai i20 Sportz 1.2' 'Maruti Suzuki Alto 800 Lx'
 'Maruti Suzuki Vitara Brezza ZDi' 'Maruti Suzuki Alto LX'
 'Mahindra Bolero DI' 'Maruti Suzuki Swift Dzire ZDi'
 'Mahindra Scorpio S10 4WD' 'Maruti Suzuki Swift Vdi BSIII'
 'Maruti Suzuki Wagon R VXi BS III' 'Maruti Suzuki Wagon R VXi Minor'
 'Toyota Innova 2.0 G 8 STR BS IV' 'Renault Lodgy 85 PS RXL'
 'Skoda Yeti Ambition 2.0 TDI CR 4x2' 'Maruti Suzuki Baleno Delta 1.2'
 'Renault Duster 110 PS RxZ Diesel Plus' 'Renault Duster 85 PS RxE Diesel'
 'Honda City 1.5 S MT' 'Maruti Suzuki Dzire' 'Honda Amaze'
 'Honda Amaze 1.5 SX i DTEC' 'Honda City' 'Datsun Redi GO S'
 'Maruti Suzuki SX4 ZXI MT' 'Mitsubishi Pajero Sport Limited Edition'
 'Maruti Suzuki Swift VXi 1.2 ABS BS IV' 'Honda City ZX CVT'
 'Maruti Suzuki Wagon R LX BS IV' 'Tata Indigo eCS LS CR4 BS IV'
 'Volkswagen Polo Highline Exquisite P' 'I want to sell my car Tata Zest'
 'Chevrolet Spark LS 1.0' 'Renault Duster 110PS Diesel RxZ'
 'Mini Cooper S 1.6' 'Skoda Fabia 1.2L Diesel Ambiente' 'Renault Duster'
 'Mahindra Scorpio S4' 'Mahindra Scorpio VLX 2WD BS IV'
 'Mahindra Quanto C8' 'Ford EcoSport' 'Honda Brio'
 'Volkswagen Vento Highline Plus 1.5 Diesel AT' 'Hyundai i20 Magna'
 'Toyota Corolla Altis Diesel D4DG' 'Hyundai Verna Transform SX VTVT'
 'Toyota Corolla Altis Petrol Ltd' 'Honda City 1.5 EXi New'
 'Skoda Fabia 1.2L Diesel Elegance' 'BMW 3 Series 320i'
 'Maruti Suzuki A Star Lxi' 'Toyota Etios GD'
 'Ford Figo Diesel EXI Option' 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV'
 'Chevrolet Beat LT Diesel' 'BMW 7 Series 740Li Sedan'
 'Mahindra XUV500 W8 AWD 2013' 'Hyundai i10 Magna 1.2'
 'Hyundai Verna Fluidic New' 'Maruti Suzuki Swift VXi 1.2 BS IV'
 'Maruti Suzuki Ertiga ZXI Plus' 'Maruti Suzuki Ertiga Vxi'
 'Maruti Suzuki Ertiga VDi' 'Maruti Suzuki Alto LXi BS III'
 'Hyundai Grand i10 Asta 1.1 CRDi' 'Honda Amaze 1.2 S i VTEC'
 'Hyundai i20 Asta 1.4 CRDI 6 Speed' 'Ford Figo Diesel EXI'
 'Maruti Suzuki Eeco 5 STR WITH AC HTR' 'Maruti Suzuki Ertiga ZXi'
 'Maruti Suzuki Esteem LXi BS III' 'Maruti Suzuki Ritz VXI'
 'Maruti Suzuki Ritz LDi' 'Maruti Suzuki Dzire VDI' 'Toyota Etios Liva G'
 'Hyundai i20 Sportz 1.4 CRDI' 'Chevrolet Spark' 'Nissan Micra XV'
 'Maruti Suzuki Swift' 'Honda Amaze 1.5 S i DTEC' 'Chevrolet Beat'
 'Toyota Corolla' 'Honda City 1.5 V MT' 'Ford EcoSport Trend 1.5L TDCi'
 'Hyundai i20 Asta 1.2' 'Tata Indica V2 eLS' 'Maruti Suzuki Alto 800 Lxi'
 'Hindustan Motors Ambassador' 'Toyota Corolla Altis 1.8 GL'
 'Toyota Corolla Altis 1.8 J' 'Toyota Innova 2.5 GX BS IV 7 STR'
 'Volkswagen Jetta Highline TDI AT' 'Volkswagen Polo Comfortline 1.2L P'
 'Volkswagen Polo' 'Mahindra Scorpio' 'Nissan Sunny' 'Hyundai Elite i20'
 'Renault Kwid' 'Mahindra Scorpio VLX Airbag' 'Chevrolet Spark LT 1.0'
 'Datsun Redi GO T O' 'Maruti Suzuki Swift RS VDI'
 'Fiat Punto Emotion 1.2' 'Hyundai i10 Sportz 1.2'
 'Chevrolet Beat LT Opt Diesel' 'Chevrolet Beat LS Diesel'
 'Tata Indigo CS' 'Maruti Suzuki Swift VDi' 'Hyundai Eon Era Plus'
 'Mahindra XUV500' 'Ford Fiesta' 'Maruti Suzuki Wagon R' 'Hyundai i20'
 'Tata Indigo eCS LX TDI BS III' 'Hyundai Fluidic Verna 1.6 CRDi SX'
 'Commercial , DZire LDI, 2016, for sale' 'Fiat Petra ELX 1.2 PS'
 'Hyundai Santro Xing XS' 'Maruti Suzuki Ciaz VXi Plus'
 'Maruti Suzuki Zen VX' 'Hyundai Creta 1.6 SX Plus Petrol'
 'Tata indigo ecs LX, 201' 'Mahindra Scorpio SLX'
 'Toyota Innova 2.5 G BS III 8 STR' 'Maruti Suzuki Wagon R LXI BS IV'
 'Tata Nano Cx BSIV' 'Maruti Suzuki Alto Std BS IV'
 'Maruti Suzuki Wagon R LXi BS III' 'Maruti Suzuki Swift VXI BSIII'
 'Tata Sumo Victa EX 10 by 7 Str BSIII' 'MARUTI SUZUKI DESI'
 'Volkswagen Passat Diesel Comfortline AT'
 'Renault Scala RxL Diesel Travelogue'
 'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT' 'Hyundai i20 Active 1.2 SX'
 'Mahindra Xylo E4' 'Mahindra Jeep MM 550 XDB' 'Mahindra Bolero SLE BS IV'
 'Force Motors Force One LX ABS 7 STR' 'Maruti Suzuki SX4' 'Toyota Etios'
 'Honda City ZX VTEC' 'Maruti Suzuki Wagon R LX BS III'
 'Honda City VX O MT Diesel' 'Mahindra Thar CRDe 4x4 AC'
 'Audi A4 1.8 TFSI Multitronic Premium Plus'
 'Mercedes Benz GLA Class 200 CDI Sport' 'Land Rover Freelander 2 SE'
 'Renault Kwid RXT' 'Tata Aria Pleasure 4X2'
 'Mercedes Benz B Class B180 Sports' 'Datsun GO T O' 'Honda Jazz VX MT'
 'Hyundai i20 Active 1.4L SX O' 'Mini Cooper S'
 'Maruti Suzuki Ciaz ZXI Plus' 'Chevrolet Tavera Neo' 'Hyundai Eon Sportz'
 'Tata Sumo Gold Select Variant' 'Maruti Suzuki Wagon R 1.0'
 'Maruti Suzuki Esteem VXi BS III' 'Chevrolet Enjoy 1.4 LS 8 STR'
 'Maruti Suzuki Wagon R 1.0 VXi' 'Nissan Terrano XL D Plus'
 'Renault Duster 85 PS RxL Diesel' 'Maruti Suzuki Dzire ZXI'
 'Renault Kwid RXT Opt' 'Maruti Suzuki Maruti 800 Std'
 'Renault Kwid 1.0 RXT AMT' 'Renault Scala RxL Diesel'
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT O' 'Chevrolet Beat LS Petrol'
 'Hyundai Accent GLX' 'Yama' 'Maruti Suzuki Swift LDi'
 'Mahindra TUV300 T4 Plus' 'Tata Indica V2 Xeta e GLE'
 'Tata Indigo CS LS DiCOR' 'Mahindra Scorpio VLX Special Edition BS III'
 'Tata Indica eV2 LS' 'Honda Accord' 'Ford EcoSport Titanium 1.5 TDCi'
 'Maruti Suzuki Ertiga' 'Mahindra Scorpio 2.6 CRDe' 'Honda Mobilio'
 'Toyota Corolla Altis' 'Skoda Laura' 'Hyundai Verna Fluidic'
 'Maruti Suzuki Vitara Brezza' 'Tata Manza Aura Quadrajet'
 'Chevrolet Sail UVA Petrol LT ABS' 'Hyundai Verna Fluidic 1.6 VTVT SX'
 'Audi A4 2.0 TDI 177bhp Premium' 'Hyundai Elantra SX'
 'Mahindra Scorpio VLX 4WD Airbag' 'Mahindra KUV100 K8 D 6 STR'
 'Hyundai Grand i10' 'Hyundai i10' 'Hyundai i20 Active' 'Datsun Redi GO'
 'Toyota Etios Liva' 'Hyundai Accent' 'Hyundai Verna' 'Toyota Fortuner'
 'Hyundai i10 Sportz' 'Mahindra Bolero Power Plus SLE' 'selling car Ta'
 'Honda City 1.5 V MT Exclusive' 'Chevrolet Spark LT 1.0 Airbag'
 'Tata Indigo eCS VX CR4 BS IV' 'Tata Zest 90'
 'Skoda Rapid Elegance 1.6 TDI CR MT' 'Tata Vista Quadrajet VX'
 'Maruti Suzuki Alto K10 VXi AT' 'Maruti Suzuki Zen LXi BS III'
 'Maruti Suzuki Swift Dzire Tour LDi' 'Honda City ZX EXi'
 'Chevrolet Beat Diesel' 'Maruti Suzuki Swift Dzire car'
 'Hyundai Verna 1.4 VTVT' 'Toyota Innova 2.5 E MS 7 STR BS IV'
 'Maruti Suzuki Maruti 800 Std – Befo' 'Hyundai Elite i20 Asta 1.4 CRDI'
 'Maruti Suzuki Swift Dzire Tour (Gat'
 'Maruti Suzuki Versa DX2 8 SEATER BSIII' 'Tata Indigo LX TDI BS III'
 'Volkswagen Vento Konekt Diesel Highline'
 'Mercedes Benz C Class 200 CDI Classic' 'URJE' 'Hyundai Santro Xing GLS'
 'Maruti Suzuki Omni Limited Edition'
 'Hyundai Sonata Transform 2.4 GDi MT' 'Hyundai Elite i20 Sportz 1.2'
 'Honda Jazz S MT' 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT'
 'Maruti Suzuki Zen LXi BSII' 'Mahindra Scorpio W Turbo 2.6DX 9 Seater'
 'Swift Dzire Tour 27 Dec 2016 Regis' 'Maruti Suzuki Alto K10 VXi'
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT' 'Mahindra XUV500 W8'
 'Hyundai i20 Magna O 1.2' 'Renault Duster 85 PS RxL Explore LE'
 'Honda Brio V MT' 'Mahindra TUV300 T8' 'Nissan X Trail Select Variant'
 'Ford Ikon 1.3 CLXi NXt Finesse' 'Toyota Fortuner 3.0 4x4 MT'
 'Tata Manza ELAN Quadrajet' 'Tata zest x' 'Mahindra xyl'
 'Mercedes Benz A Class A 180 Sport Petrol' 'Tata Indigo LS'
 'Hyundai i20 Magna 1.2' 'Used Commercial Maruti Omn'
 'Honda Amaze 1.5 E i DTEC' 'Hyundai Verna 1.6 EX VTVT'
 'BMW 5 Series 520d Sedan' 'Skoda Superb 1.8 TFSI AT'
 'Audi Q3 2.0 TDI quattro Premium' 'Mahindra Bolero DI BSII'
 'Maruti Suzuki Zen Estilo LXI Green CNG'
 'Ford Figo Duratorq Diesel Titanium 1.4'
 'Maruti Suzuki Wagon R VXI BS IV' 'Mahindra Logan Diesel 1.5 DLS'
 'Tata Nano GenX XMA' 'Honda City SV' 'Ford Figo Petrol LXI'
 'Hyundai i10 Magna 1.2 Kappa2' 'Toyota Corolla H2'
 'Maruti Suzuki Swift Dzire Tour VXi' 'Tata Indigo CS eLS BS IV'
 'Hyundai Xcent Base 1.1 CRDi' 'Hyundai Accent Executive Edition'
 'Tata Zest XE 75 PS Diesel' 'Maruti Suzuki Dzire LDI'
 'Tata Sumo Gold LX BS IV' 'Toyota Corolla Altis GL Petrol'
 'Maruti Suzuki Eeco 7 STR' 'Toyota Fortuner 3.0 4x2 MT'
 'Mahindra XUV500 W6' 'Tata Tigor Revotron XZ' 'Maruti Suzuki 800'
 'Honda Mobilio S i DTEC' 'Hyundai Verna 1.6 CRDI E'
 'Maruti Suzuki Omni Select Variant' 'Tata Indica' 'Hyundai Santro Xing'
 'Maruti Suzuki Zen Estilo' 'Honda Brio VX AT'
 'Maruti Suzuki Wagon R Select Variant' 'Tata Nano Lx BSIV'
 'Jaguar XE XE Portfolio' 'Hyundai Xcent S 1.2' 'Hyundai Eon Magna Plus'
 'Maruti Suzuki Ritz GENUS VXI'
 'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT' 'Hyundai Eon D Lite Plus'
 'Honda Amaze 1.2 VX i VTEC' 'Maruti Suzuki Estilo VXi ABS BS IV'
 'Maruti Suzuki Vitara Brezza LDi O' 'Toyota Innova 2.0 V'
 'Hyundai Creta 1.6 SX Plus Petrol AT' 'Mahindra Scorpio Vlx BSIV'
 'Mitsubishi Lancer 1.8 LXi' 'Maruti Suzuki Maruti 800 AC'
 'Maruti Suzuki Alto 800 LXI CNG O' 'Ford Fiesta SXi 1.6 ABS'
 'Maruti Suzuki Ritz VDi' 'Maruti Suzuki Estilo LX BS IV'
 'Audi A6 2.0 TDI Premium' 'Maruti Suzuki Alto'
 'Maruti Suzuki Baleno Sigma 1.2' 'Hyundai Verna 1.6 SX VTVT AT'
 'Maruti Suzuki Swift GLAM' 'Hyundai Getz Prime 1.3 GVS' 'Hyundai Santro'
 'Hyundai Getz Prime 1.3 GLX' 'Chevrolet Beat PS Diesel'
 'Ford EcoSport Trend 1.5 Ti VCT' 'Tata Indica V2 DLG'
 'BMW X1 xDrive20d xLine' 'Honda City 1.5 V AT' 'Tata Nano'
 'Chevrolet Cruze LTZ AT' 'Hyun' 'Maruti Suzuki Swift Dzire VDi'
 'Mahindra XUV500 W10' 'Maruti Suzuki Alto K10 LXi CNG'
 'Hyundai Accent GLE' 'Force Motors One SUV' 'Datsun Go Plus T O'
 'Chevrolet Spark 1.0 LT' 'Toyota Etios Liva GD'
 'Renault Duster 85PS Diesel RxL Optional with Nav' 'Chevrolet Enjoy'
 'BMW 5 Series 530i' 'Chevrolet Cruze LTZ'
 'Jeep Wrangler Unlimited 4x4 Diesel' 'Hyundai Verna VGT CRDi SX ABS'
 'Maruti Suzuki Omni' 'Maruti Suzuki Celerio VDi'
 'Tata Zest Quadrajet 1.3' 'Tata Indigo CS eLX BS IV' 'Hyundai i10 Era'
 'Tata Indigo eCS LX CR4 BS IV' 'Tata Indigo Marina LS'
 'Commercial Chevrolet Sail Hatchback ca' 'Hyundai Xcent SX 1.2'
 'Tata Nano LX Special Edition' 'Commercial Car Ta'
 'Renault Duster 110 PS RxZ Diesel' 'Maruti Suzuki Wagon R AX BSIV'
 'Maruti Suzuki Alto K10 New' 'tata Indica' 'Mahindra Xylo E8'
 'Tata Manza Aqua Quadrajet' 'Used bt new conditions ta'
 'Renault Kwid 1.0' 'Sale tata' 'Tata Venture EX 8 STR'
 'Maruti Suzuki Swift Dzire Tour LXi' 'Maruti Suzuki Alto LX BSII'
 'Skoda Octavia Classic 1.9 TDI MT' 'Maruti Suzuki Omni LPG BS IV'
 'Tata Sumo Gold EX BS IV' 'Tata indigo 2017 top model..'
 'Hyundai Verna 1.6 CRDI SX' 'Mahindra Scorpio SLX 2.6 Turbo 8 Str'
 'Ford Ikon 1.6 Nxt' 'Tata indigo' 'Toyota Innova 2.5 V 7 STR'
 'Nissan Sunny XL' 'Maruti Suzuki Swift VDi BS IV'
 'very good condition tata bolts are av' 'Toyota Innova 2.0 G4'
 'Sale Hyundai xcent commerc' 'Maruti Suzuki Swift VDi ABS'
 'Hyundai Elite i20 Asta 1.2' 'Volkswagen Polo Trendline 1.5L D'
 'Toyota Etios Liva Diesel' 'Maruti Suzuki Ciaz ZXi Plus RS'
 'Hyundai Elantra 1.8 S' 'Ford EcoSport Trend 1.5L Ti VCT'
 'Jaguar XF 2.2 Diesel Luxury' 'Audi Q5 2.0 TDI quattro Premium Plus'
 'BMW 3 Series 320d Sedan' 'Maruti Suzuki Swift ZXi 1.2 BS IV'
 'BMW X1 sDrive20d' 'Maruti Suzuki S Cross Sigma 1.3'
 'Maruti Suzuki Ertiga LDi' 'Volkswagen Vento Comfortline Petrol'
 'Mahindra KUV100' 'Maruti Suzuki Swift Dzire Tour VDi'
 'Mahindra Scorpio 2.6 SLX' 'Maruti Suzuki Omni 8 STR BS III'
 'Volkswagen Jetta Comfortline 1.9 TDI AT' 'Volvo S80 Summum D4'
 'Toyota Corolla Altis VL AT Petrol' 'Mitsubishi Pajero Sport 2.5 AT'
 'Chevrolet Beat LT Petrol' 'BMW X1'
 'Mercedes Benz C Class C 220 CDI Avantgarde'
 'Volkswagen Vento Comfortline Diesel' 'Tata Indigo CS GLS'
 'Ford Figo Petrol Titanium' 'Honda City ZX GXi'
 'Maruti Suzuki Wagon R Duo Lxi' 'Maruti Suzuki Zen LX BSII'
 'Renault Duster RxL Petrol' 'Maruti Suzuki Baleno Zeta 1.2'
 'Honda WR V S MT Petrol' 'Renault Duster 110 PS RxL Diesel'
 'Mahindra Scorpio LX BS III' 'Maruti Suzuki SX4 Celebration Diesel'
 'Audi A3 Cabriolet 40 TFSI' 'I want to sell my commercial car due t'
 'Hyundai Santro AE GLS Audio' 'i want sale my car.no emi....uber atta'
 'Tata ZEST 6 month old' 'Mahindra Xylo D2 BS IV' 'Hyundai Getz GLE'
 'Hyundai Creta 1.6 SX' 'Hyundai Santro Xing XL AT eRLX Euro III'
 'Hyundai Santro Xing XL eRLX Euro III' 'Tata Indica V2 DLS BS III'
 'Honda City 1.5 E MT' 'Nissan Micra XL' 'Honda City 1.5 S Inspire'
 'Tata Indica eV2 eXeta eGLX' 'Maruti Suzuki Omni E 8 STR BS IV'
 'MARUTI SUZUKI ERTIGA F' 'Hyundai Verna 1.6 CRDI SX Plus AT'
 'Chevrolet Tavera LS B3 10 Seats BSII' 'Tata Tiago Revotron XM'
 'Tata Tiago Revotorq XZ' 'Tata Nexon' 'Tata'
 'Hindustan Motors Ambassador Classic Mark 4 – Befo'
 'Ford Fusion 1.4 TDCi Diesel' 'Fiat Linea Emotion 1.4 L T Jet Petrol'
 'Ford Ikon 1.3 Flair Josh 100' 'Tata Indica V2 LS' 'Mahindra Xylo D2'
 'Hyundai Eon Magna' 'Tata Sumo Grande MKII GX'
 'Volkswagen Polo Highline1.2L P' 'Tata Tiago Revotron XZ'
 'Tata Indigo eCS' '2012 Tata Sumo Gold f' 'Mahindra Xylo E8 BS IV'
 'Well mentained Tata Sumo' 'all paper updated tata indica v2 and u'
 'Maruti Ertiga showroom condition with'
 '7 SEATER MAHINDRA BOLERO IN VERY GOOD' '9 SEATER MAHINDRA BOL'
 'scratch less Tata I' 'Maruti Suzuki swift dzire for sale in'
 'Commercial Chevrolet beat for sale in' 'urgent sell my Mahindra qu'
 'Tata Sumo Gold FX BSIII' 'sell my car Maruti Suzuki Swif'
 'Maruti Suzuki Swift Dzire good car fo' 'Hyunda'
 'Commercial Maruti Suzuki Alto Lxi 800' 'urgent sale Ta'
 'Maruti Suzuki Alto vxi t' 'tata' 'TATA INDI' 'Hyundai Creta'
 'Tata Bolt XM Petrol' 'Hyundai Venue' 'Maruti Suzuki Ritz'
 'Renault Lodgy' 'Hyundai i20 Asta' 'Maruti Suzuki Swift Select Variant'
 'Tata Indica V2 DLX BS III' 'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV'
 'Toyota Innova 2.5 E 8 STR' 'Mahindra KUV100 K8 6 STR' 'Datsun Go Plus'
 'Ford Endeavor 4x4 Thunder Plus' 'Tata Indica V2'
 'Hyundai Santro Xing GL' 'Toyota Innova 2.5 Z Diesel 7 Seater'
 'Any type car avaiabel hare...comercica' 'Maruti Suzuki Alto AX'
 'Mahindra Logan' 'Maruti Suzuki 800 Std BS III' 'Chevrolet Sail 1.2 LS'
 'Volkswagen Vento Highline Plus 1.5 Diesel' 'Tata Manza'
 'Toyota Innova 2.0 G1 Petrol 8seater' 'Toyota Etios G' 'Toyota Qualis'
 'Mahindra Quanto C4' 'Maruti Suzuki Swift Dzire'
 'Hyundai i20 Select Variant' 'Honda City VX Petrol' 'Hyundai Getz'
 'Mercedes Benz C Class 200 K MT' 'Skoda Fabia'
 'Maruti Suzuki Alto 800 Select Variant' 'Maruti Suzuki Ritz VXI ABS'
 'tata zest 2017 f' 'Tata Indica V2 DLE BS III' 'Ta' 'Tata Zest XM Diesel'
 'Honda Amaze 1.2 E i VTEC' 'Chevrolet Sail 1.2 LT ABS']

company
['Hyundai' 'Mahindra' 'Maruti' 'Ford' 'Skoda' 'Audi' 'Toyota' 'Renault'
 'Honda' 'Datsun' 'Mitsubishi' 'Tata' 'Volkswagen' 'I' 'Chevrolet' 'Mini'
 'BMW' 'Nissan' 'Hindustan' 'Fiat' 'Commercial' 'MARUTI' 'Force'
 'Mercedes' 'Land' 'Yamaha' 'selling' 'URJENT' 'Swift' 'Used' 'Jaguar'
 'Jeep' 'tata' 'Sale' 'very' 'Volvo' 'i' '2012' 'Well' 'all' '7' '9'
 'scratch' 'urgent' 'sell' 'TATA' 'Any' 'Tara']

year
['2007' '2006' '2018' '2014' '2015' '2012' '2013' '2016' '2010' '2017'
 '2008' '2011' '2019' '2009' '2005' '2000' '...' '150k' 'TOUR' '2003'
 'r 15' '2004' 'Zest' '/-Rs' 'sale' '1995' 'ara)' '2002' 'SELL' '2001'
 'tion' 'odel' '2 bs' 'arry' 'Eon' 'o...' 'ture' 'emi' 'car' 'able' 'no.'
 'd...' 'SALE' 'digo' 'sell' 'd Ex' 'n...' 'e...' 'D...' ', Ac' 'go .'
 'k...' 'o c4' 'zire' 'cent' 'Sumo' 'cab' 't xe' 'EV2' 'r...' 'zest']

Price
['80,000' '4,25,000' 'Ask For Price' '3,25,000' '5,75,000' '1,75,000'
 '1,90,000' '8,30,000' '2,50,000' '1,82,000' '3,15,000' '4,15,000'
 '3,20,000' '10,00,000' '5,00,000' '3,50,000' '1,60,000' '3,10,000'
 '75,000' '1,00,000' '2,90,000' '95,000' '1,80,000' '3,85,000' '1,05,000'
 '6,50,000' '6,89,999' '4,48,000' '5,49,000' '5,01,000' '4,89,999'
 '2,80,000' '3,49,999' '2,84,999' '3,45,000' '4,99,999' '2,35,000'
 '2,49,999' '14,75,000' '3,95,000' '2,20,000' '1,70,000' '85,000'
 '2,00,000' '5,70,000' '1,10,000' '4,48,999' '18,91,111' '1,59,500'
 '3,44,999' '4,49,999' '8,65,000' '6,99,000' '3,75,000' '2,24,999'
 '12,00,000' '1,95,000' '3,51,000' '2,40,000' '90,000' '1,55,000'
 '6,00,000' '1,89,500' '2,10,000' '3,90,000' '1,35,000' '16,00,000'
 '7,01,000' '2,65,000' '5,25,000' '3,72,000' '6,35,000' '5,50,000'
 '4,85,000' '3,29,500' '2,51,111' '5,69,999' '69,999' '2,99,999'
 '3,99,999' '4,50,000' '2,70,000' '1,58,400' '1,79,000' '1,25,000'
 '2,99,000' '1,50,000' '2,75,000' '2,85,000' '3,40,000' '70,000'
 '2,89,999' '8,49,999' '7,49,999' '2,74,999' '9,84,999' '5,99,999'
 '2,44,999' '4,74,999' '2,45,000' '1,69,500' '3,70,000' '1,68,000'
 '1,45,000' '98,500' '2,09,000' '1,85,000' '9,00,000' '6,99,999'
 '1,99,999' '5,44,999' '1,99,000' '5,40,000' '49,000' '7,00,000' '55,000'
 '8,95,000' '3,55,000' '5,65,000' '3,65,000' '40,000' '4,00,000'
 '3,30,000' '5,80,000' '3,79,000' '2,19,000' '5,19,000' '7,30,000'
 '20,00,000' '21,00,000' '14,00,000' '3,11,000' '8,55,000' '5,35,000'
 '1,78,000' '3,00,000' '2,55,000' '5,49,999' '3,80,000' '57,000'
 '4,10,000' '2,25,000' '1,20,000' '59,000' '5,99,000' '6,75,000' '72,500'
 '6,10,000' '2,30,000' '5,20,000' '5,24,999' '4,24,999' '6,44,999'
 '5,84,999' '7,99,999' '4,44,999' '6,49,999' '9,44,999' '5,74,999'
 '3,74,999' '1,30,000' '4,01,000' '13,50,000' '1,74,999' '2,39,999'
 '99,999' '3,24,999' '10,74,999' '11,30,000' '1,49,000' '7,70,000'
 '30,000' '3,35,000' '3,99,000' '65,000' '1,69,999' '1,65,000' '5,60,000'
 '9,50,000' '7,15,000' '45,000' '9,40,000' '1,55,555' '15,00,000'
 '4,95,000' '8,00,000' '12,99,000' '5,30,000' '14,99,000' '32,000'
 '4,05,000' '7,60,000' '7,50,000' '4,19,000' '1,40,000' '15,40,000'
 '1,23,000' '4,98,000' '4,80,000' '4,88,000' '15,25,000' '5,48,900'
 '7,25,000' '99,000' '52,000' '28,00,000' '4,99,000' '3,81,000' '2,78,000'
 '6,90,000' '2,60,000' '90,001' '1,15,000' '15,99,000' '1,59,000' '51,999'
 '2,15,000' '35,000' '11,50,000' '2,69,000' '60,000' '4,30,000'
 '85,00,003' '4,01,919' '4,90,000' '4,24,000' '2,05,000' '5,49,900'
 '3,71,500' '4,35,000' '1,89,700' '3,89,700' '3,60,000' '2,95,000'
 '1,14,990' '10,65,000' '4,70,000' '48,000' '1,88,000' '4,65,000'
 '1,79,999' '21,90,000' '23,90,000' '10,75,000' '4,75,000' '10,25,000'
 '6,15,000' '19,00,000' '14,90,000' '15,10,000' '18,50,000' '7,90,000'
 '17,25,000' '12,25,000' '68,000' '9,70,000' '31,00,000' '8,99,000'
 '88,000' '53,000' '5,68,500' '71,000' '5,90,000' '7,95,000' '42,000'
 '1,89,000' '1,62,000' '35,999' '29,00,000' '39,999' '50,500' '5,10,000'
 '8,60,000' '5,00,001']

kms_driven
['45,000 kms' '40 kms' '22,000 kms' '28,000 kms' '36,000 kms' '59,000 kms'
 '41,000 kms' '25,000 kms' '24,530 kms' '60,000 kms' '30,000 kms'
 '32,000 kms' '48,660 kms' '4,000 kms' '16,934 kms' '43,000 kms'
 '35,550 kms' '39,522 kms' '39,000 kms' '55,000 kms' '72,000 kms'
 '15,975 kms' '70,000 kms' '23,452 kms' '35,522 kms' '48,508 kms'
 '15,487 kms' '82,000 kms' '20,000 kms' '68,000 kms' '38,000 kms'
 '27,000 kms' '33,000 kms' '46,000 kms' '16,000 kms' '47,000 kms'
 '35,000 kms' '30,874 kms' '15,000 kms' '29,685 kms' '1,30,000 kms'
 '19,000 kms' nan '54,000 kms' '13,000 kms' '38,200 kms' '50,000 kms'
 '13,500 kms' '3,600 kms' '45,863 kms' '60,500 kms' '12,500 kms'
 '18,000 kms' '13,349 kms' '29,000 kms' '44,000 kms' '42,000 kms'
 '14,000 kms' '49,000 kms' '36,200 kms' '51,000 kms' '1,04,000 kms'
 '33,333 kms' '33,600 kms' '5,600 kms' '7,500 kms' '26,000 kms'
 '24,330 kms' '65,480 kms' '28,028 kms' '2,00,000 kms' '99,000 kms'
 '2,800 kms' '21,000 kms' '11,000 kms' '66,000 kms' '3,000 kms'
 '7,000 kms' '38,500 kms' '37,200 kms' '43,200 kms' '24,800 kms'
 '45,872 kms' '40,000 kms' '11,400 kms' '97,200 kms' '52,000 kms'
 '31,000 kms' '1,75,430 kms' '37,000 kms' '65,000 kms' '3,350 kms'
 '75,000 kms' '62,000 kms' '73,000 kms' '2,200 kms' '54,870 kms'
 '34,580 kms' '97,000 kms' '60 kms' '80,200 kms' '3,200 kms' '0,000 kms'
 '5,000 kms' '588 kms' '71,200 kms' '1,75,400 kms' '9,300 kms'

# This data needs to be cleaned before using it to train the model.

In [6]:
# cleaning the 'Year' column-
data['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    zest
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 892, dtype: object

In [7]:
#removing non numeric values-
data=data[data['year'].str.isnumeric()]
data['year'] = data['year'].astype(int)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
name          842 non-null object
company       842 non-null object
year          842 non-null int32
Price         842 non-null object
kms_driven    840 non-null object
fuel_type     837 non-null object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [9]:
# cleaning 'price' column
data=data.drop(data[data['Price'] == "Ask For Price"].index)

In [10]:
data['Price']=data['Price'].str.replace(',','').astype(int)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
name          819 non-null object
company       819 non-null object
year          819 non-null int32
Price         819 non-null int32
kms_driven    819 non-null object
fuel_type     816 non-null object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [12]:
# cleaning 'kms driven' column
data['kms_driven'] = data['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [13]:
data=data[data['kms_driven'].str.isnumeric()]
data['kms_driven'] = data['kms_driven'].astype(int)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
name          817 non-null object
company       817 non-null object
year          817 non-null int32
Price         817 non-null int32
kms_driven    817 non-null int32
fuel_type     816 non-null object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [15]:
#cleaning 'fuel_type' column
data[data['fuel_type'].isna()]

               name company  year   Price  kms_driven fuel_type
132  Toyota Corolla  Toyota  2009  275000       26000       NaN

In [16]:
data.drop([132],axis=0,inplace=True)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
name          816 non-null object
company       816 non-null object
year          816 non-null int32
Price         816 non-null int32
kms_driven    816 non-null int32
fuel_type     816 non-null object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [18]:
# cleaning 'name' column
data['name'] = data['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [19]:
data.reset_index(drop=True,inplace=True)
data

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [20]:
data.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [21]:
# max value seems to be an outlier...lets check it
data[data['Price']>6000000]
data.drop([534],axis=0,inplace=True)

In [22]:
data.describe()

              year         Price     kms_driven
count   815.000000  8.150000e+02     815.000000
mean   2012.442945  4.017933e+05   46277.096933
std       4.005079  3.815888e+05   34318.459638
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56879.000000
max    2019.000000  3.100000e+06  400000.000000

Now this is our cleaned data. Lets store it in another csv file.

In [23]:
#data.to_csv('Cleaned data.csv')

# Train the model using linear regression

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [25]:
x=data.drop(columns='Price')
y=data['Price']

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [27]:
x.columns
for i in x.columns:
    print(i)
    print(x[i].unique())
    print('')

name
['Hyundai Santro Xing' 'Mahindra Jeep CL550' 'Hyundai Grand i10'
 'Ford EcoSport Titanium' 'Ford Figo' 'Hyundai Eon'
 'Ford EcoSport Ambiente' 'Maruti Suzuki Alto' 'Skoda Fabia Classic'
 'Maruti Suzuki Stingray' 'Hyundai Elite i20' 'Mahindra Scorpio SLE'
 'Audi A8' 'Audi Q7' 'Mahindra Scorpio S10' 'Hyundai i20 Sportz'
 'Maruti Suzuki Vitara' 'Mahindra Bolero DI' 'Maruti Suzuki Swift'
 'Maruti Suzuki Wagon' 'Toyota Innova 2.0' 'Renault Lodgy 85'
 'Skoda Yeti Ambition' 'Maruti Suzuki Baleno' 'Renault Duster 110'
 'Renault Duster 85' 'Honda City 1.5' 'Maruti Suzuki Dzire' 'Honda Amaze'
 'Honda Amaze 1.5' 'Honda City' 'Datsun Redi GO' 'Maruti Suzuki SX4'
 'Mitsubishi Pajero Sport' 'Honda City ZX' 'Tata Indigo eCS'
 'Volkswagen Polo Highline' 'Chevrolet Spark LS' 'Renault Duster 110PS'
 'Mini Cooper S' 'Skoda Fabia 1.2L' 'Renault Duster' 'Mahindra Scorpio S4'
 'Mahindra Scorpio VLX' 'Mahindra Quanto C8' 'Ford EcoSport' 'Honda Brio'
 'Volkswagen Vento Highline' 'Hyundai i20 Magna' 'Toyota Corolla Altis'
 'Hyundai Verna Transform' 'BMW 3 Series' 'Maruti Suzuki A'
 'Toyota Etios GD' 'Ford Figo Diesel' 'Chevrolet Beat LT' 'BMW 7 Series'
 'Mahindra XUV500 W8' 'Hyundai i10 Magna' 'Hyundai Verna Fluidic'
 'Maruti Suzuki Ertiga' 'Honda Amaze 1.2' 'Hyundai i20 Asta'
 'Maruti Suzuki Eeco' 'Maruti Suzuki Esteem' 'Maruti Suzuki Ritz'
 'Toyota Etios Liva' 'Chevrolet Spark' 'Nissan Micra XV' 'Chevrolet Beat'
 'Ford EcoSport Trend' 'Tata Indica V2' 'Hindustan Motors Ambassador'
 'Toyota Innova 2.5' 'Volkswagen Jetta Highline'
 'Volkswagen Polo Comfortline' 'Volkswagen Polo' 'Mahindra Scorpio'
 'Nissan Sunny' 'Renault Kwid' 'Chevrolet Spark LT' 'Fiat Punto Emotion'
 'Hyundai i10 Sportz' 'Chevrolet Beat LS' 'Tata Indigo CS'
 'Hyundai Eon Era' 'Mahindra XUV500' 'Ford Fiesta' 'Hyundai i20'
 'Hyundai Fluidic Verna' 'Fiat Petra ELX' 'Maruti Suzuki Ciaz'
 'Maruti Suzuki Zen' 'Hyundai Creta 1.6' 'Mahindra Scorpio SLX'
 'Tata Nano Cx' 'Tata Sumo Victa' 'Volkswagen Passat Diesel'
 'Renault Scala RxL' 'Hyundai i20 Active' 'Mahindra Xylo E4'
 'Mahindra Jeep MM' 'Mahindra Bolero SLE' 'Force Motors Force'
 'Toyota Etios' 'Honda City VX' 'Mahindra Thar CRDe' 'Audi A4 1.8'
 'Mercedes Benz GLA' 'Land Rover Freelander' 'Renault Kwid RXT'
 'Tata Aria Pleasure' 'Mercedes Benz B' 'Datsun GO T' 'Honda Jazz VX'
 'Chevrolet Tavera Neo' 'Hyundai Eon Sportz' 'Tata Sumo Gold'
 'Chevrolet Enjoy 1.4' 'Nissan Terrano XL' 'Maruti Suzuki Maruti'
 'Renault Kwid 1.0' 'Hyundai Accent GLX' 'Mahindra TUV300 T4'
 'Honda Accord' 'Mahindra Scorpio 2.6' 'Honda Mobilio' 'Skoda Laura'
 'Tata Manza Aura' 'Chevrolet Sail UVA' 'Audi A4 2.0' 'Hyundai Elantra SX'
 'Mahindra KUV100 K8' 'Hyundai i10' 'Hyundai Accent' 'Hyundai Verna'
 'Toyota Fortuner' 'Mahindra Bolero Power' 'Skoda Rapid Elegance'
 'Tata Vista Quadrajet' 'Chevrolet Beat Diesel' 'Hyundai Verna 1.4'
 'Maruti Suzuki Versa' 'Tata Indigo LX' 'Volkswagen Vento Konekt'
 'Mercedes Benz C' 'Maruti Suzuki Omni' 'Hyundai Sonata Transform'
 'Honda Jazz S' 'Mahindra Scorpio W' 'Honda Brio V' 'Mahindra TUV300 T8'
 'Nissan X Trail' 'Ford Ikon 1.3' 'Toyota Fortuner 3.0' 'Tata Manza ELAN'
 'Mercedes Benz A' 'Tata Indigo LS' 'Hyundai Verna 1.6' 'BMW 5 Series'
 'Skoda Superb 1.8' 'Audi Q3 2.0' 'Ford Figo Duratorq'
 'Mahindra Logan Diesel' 'Tata Nano GenX' 'Honda City SV'
 'Ford Figo Petrol' 'Toyota Corolla H2' 'Hyundai Xcent Base'
 'Hyundai Accent Executive' 'Tata Zest XE' 'Mahindra XUV500 W6'
 'Tata Tigor Revotron' 'Maruti Suzuki 800' 'Honda Mobilio S' 'Tata Indica'
 'Honda Brio VX' 'Tata Nano Lx' 'Jaguar XE XE' 'Hyundai Eon Magna'
 'Hyundai Eon D' 'Maruti Suzuki Estilo' 'Mahindra Scorpio Vlx'
 'Mitsubishi Lancer 1.8' 'Ford Fiesta SXi' 'Audi A6 2.0'
 'Hyundai Getz Prime' 'Hyundai Santro' 'Chevrolet Beat PS'
 'BMW X1 xDrive20d' 'Tata Nano' 'Chevrolet Cruze LTZ'
 'Mahindra XUV500 W10' 'Hyundai Accent GLE' 'Force Motors One'
 'Chevrolet Spark 1.0' 'Renault Duster 85PS' 'Chevrolet Enjoy'
 'Jeep Wrangler Unlimited' 'Hyundai Verna VGT' 'Maruti Suzuki Celerio'
 'Tata Zest Quadrajet' 'Hyundai i10 Era' 'Tata Indigo Marina'
 'Hyundai Xcent SX' 'Tata Nano LX' 'Mahindra Xylo E8' 'Tata Manza Aqua'
 'Tata Venture EX' 'Skoda Octavia Classic' 'Ford Ikon 1.6'
 'Nissan Sunny XL' 'Volkswagen Polo Trendline' 'Hyundai Elantra 1.8'
 'Tata Indica eV2' 'Jaguar XF 2.2' 'Audi Q5 2.0' 'BMW X1 sDrive20d'
 'Maruti Suzuki S' 'Volkswagen Vento Comfortline' 'Mahindra KUV100'
 'Volkswagen Jetta Comfortline' 'Volvo S80 Summum' 'BMW X1'
 'Renault Duster RxL' 'Honda WR V' 'Mahindra Scorpio LX'
 'Audi A3 Cabriolet' 'Hyundai Santro AE' 'Mahindra Xylo D2'
 'Hyundai Getz GLE' 'Nissan Micra XL' 'Chevrolet Tavera LS'
 'Tata Tiago Revotron' 'Tata Tiago Revotorq' 'Ford Fusion 1.4'
 'Fiat Linea Emotion' 'Toyota Corolla' 'Tata Sumo Grande'
 'Volkswagen Polo Highline1.2L' 'Hyundai Creta' 'Tata Bolt XM'
 'Datsun Go Plus' 'Ford Endeavor 4x4' 'Mahindra Logan'
 'Chevrolet Sail 1.2' 'Tata Manza' 'Toyota Etios G' 'Toyota Qualis'
 'Mahindra Quanto C4' 'Hyundai i20 Select' 'Hyundai Getz' 'Skoda Fabia'
 'Tata Zest XM']

company
['Hyundai' 'Mahindra' 'Ford' 'Maruti' 'Skoda' 'Audi' 'Toyota' 'Renault'
 'Honda' 'Datsun' 'Mitsubishi' 'Tata' 'Volkswagen' 'Chevrolet' 'Mini'
 'BMW' 'Nissan' 'Hindustan' 'Fiat' 'Force' 'Mercedes' 'Land' 'Jaguar'
 'Jeep' 'Volvo']

year
[2007 2006 2014 2012 2013 2016 2015 2010 2017 2008 2018 2011 2019 2009
 2005 2000 2003 2004 1995 2002 2001]

kms_driven
[ 45000     40  28000  36000  41000  25000  24530  60000  30000  32000
  48660   4000  16934  43000  35550  39522  39000  55000  72000  15975
  70000  23452  35522  48508  15487  82000  20000  68000  38000  27000
  33000  46000  16000  47000  35000  30874  15000  29685 130000  19000
  54000  13000  38200  22000  50000  13500   3600  45863  60500  12500
  18000  13349  29000  44000  42000  14000  49000  36200  51000 104000
  33333  33600   5600   7500  24330  65480 200000  59000  99000   2800
  21000  11000  66000   3000   7000  38500  37200  43200  24800  45872
  40000  11400  97200  52000  31000 175430  37000  65000   3350  75000
  62000  73000   2200  54870  34580  97000     60  80200   3200      0
   5000    588  71200 175400   9300  56758  10000  56450  56000  32700
   9000     73 160000  58559  57000 170000  80000   6821  23000  34000
   1800 400000  48000  90000  12000  69900 166000    122  36469   7800
  24695  15141  59910 100000   4500 129000    300 131000 111111  59466
  25500  44005   2110  43222 100200     65 140000 103553  58000 120000
  49800    100  81876   6020  55700  18500  53000  35500  22134   1000
   8500  87000   6000   8000  55800  56400  72160  11500 133000   2000
  88000  65422 117000 150000  10750   6800   9800  57923  30201   6200
  37518  24652    383  95000   3528  52500  47900  52800 195000  48008
  48247   9400  64000   2137  10544 147000  90001  48006  74000  85000
  29500  39700  67000  19336  60105  45933 102563  28600  41800 116000
  42590   7400  54500  76000  11523  38600  95500  37458  85960  12516
  30600   2550  62500  69000  28400  68485   3500  85455  63000   1600
  77000  26500   2875  13900   1500   2450   1625  33400  60123 137495
  91200 146000 100800   2100   2500 132000]

fuel_type
['Petrol' 'Diesel' 'LPG']

In [28]:
# Hence one hot encoding is to be done on 'name' , 'company' , 'fuel_type'
ohe = OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [29]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [30]:
column_trans

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder',
                                 OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet Beat LS', 'Chevrolet B...
       'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
                                                           array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                           array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                 ['name', 'company', 'fuel_type'])])

In [31]:
#pd.get_dummies(data,columns=['name','company','fuel_type'])

In [32]:
Linear_R = LinearRegression()
pipe=make_pipeline(column_trans,Linear_R)
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [33]:
y_pred=pipe.predict(x_test)
y_pred

array([ 415181.61986049,  126671.01803165, 1357247.62760974,
        221103.81870918,  241317.28049462,  310793.77427001,
       1455390.1047359 ,  552662.91791853,  156213.42936495,
         98531.27437425,  816769.04497673,  241634.00912844,
        441189.72074446,  230942.56019696,  242379.74738939,
        278300.69797364,  481117.36359125, 1258163.56391453,
        407493.7895094 ,  170691.73433236,  277968.13496658,
        262651.09037718,  416822.14277098,  894599.10203253,
        119598.69486085,  308072.47652213,  368097.29260857,
        258059.11623191,  570276.24317925,  334444.33985575,
        257322.94548266,  442195.53620933,  141420.52916153,
        230843.50409904,  184583.58573498,  269674.1153293 ,
        208216.89631302,   41405.16715731,  526524.39456544,
        435753.82278197,  202667.34539589,  180487.39303623,
        268560.17005283,   19808.67112334,  187225.35750481,
        -11900.92785267,  437705.79632439,  236897.91940083,
        358240.99353623,  351063.24218969,  290950.87946479,
        360003.38768279,  347478.94077449,  536815.12612358,
        397970.3694302 ,  460295.20255388,  157181.43338666,
        514976.94250577,   26001.54968334,  450431.15981022,
        445927.93087462,  295922.53054833,  572602.73553476,
        158009.61966618,  824533.99265474,  699760.71368982,
        225025.52729848,  -59846.75280439,  739231.09317089,
        323461.31358773,  222644.71121441,  451764.24447273,
       1057322.87549517,  154572.7929863 ,  260411.40466172,
        563855.64503125,  536131.42550088,  531421.32589294,
        445896.09930011,  227147.51411504,  771917.44154159,
        307333.88934793,  267387.18010479,  447184.41214028,
        363317.10601208,  360848.27866896,  241752.79206807,
        406367.69120192,  417162.45884243,  175596.46216555,
        291376.07507675,   50579.98334397,  158364.68062682,
       1892216.51950425,   90156.34615916,  461036.8606829 ,
        350401.008904  ,  154219.5542758 ,  377489.76960251,
         54673.1086484 ,  222370.15653995,  616068.62653019,
        842005.62679625,  329127.61524101,  194159.9338975 ,
         53405.86144315,  648814.63952103,  500212.22632457,
        218813.1256376 ,  246201.28999829,  410332.7237403 ,
        518119.61973674,  842005.62679625,  190906.16757973,
        360848.27866896,  220394.1314197 ,  317409.37897631,
       1479706.41124746,  390239.81336744,  391366.67125817,
        547848.37493471,  547602.01435248,  100443.9752035 ,
        362012.36183364,  214284.13709588,  225801.61867977,
        237180.32877135,  251866.54518829,  165320.95313037,
        437936.84958563,  258982.91501129,  187162.3853745 ,
        179363.38023691,  244022.69327047,  555445.89785446,
        406366.36826955,  367575.20379188,  239942.98806894,
        555445.89785446,  236460.46932226,  995238.48816242,
        204155.93883514,  154572.7929863 ,  132820.744815  ,
        612912.33668949,   26853.27763556,  265349.05847629,
        256216.67749536,  269674.1153293 ,  204395.14558616,
        473863.20252036,  346050.45112405,  332716.51352421,
        573757.31003878,  218911.11715697,  289203.49988497,
        584125.33373526,  170796.83012374,  288480.77175629,
        112521.51092249,  149276.09709635,  691969.06941078,
        496340.61771458])

In [34]:
# Checking r2 score
r2_score(y_test,y_pred)

0.7834203404246282

It is observed that the r2_score value is changing everytime we run train_test split so we will add random state to it.

In [35]:
score=[]
for i in range(500):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state= i )
    Linear_R = LinearRegression()
    pipe=make_pipeline(column_trans,Linear_R)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    score.append(r2_score(y_test,y_pred))

In [36]:
max(score)

0.8894510585615059

In [37]:
index = score.index(max(score))
index

124

In [38]:
#So at random_state 124, we are getting highest correlation
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state= 124 )
Linear_R = LinearRegression()
pipe=make_pipeline(column_trans,Linear_R)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8894510585615059

In [39]:
!pip install pickle-mixin

Requirement already satisfied: pickle-mixin in c:\users\meera\anaconda3\lib\site-packages (1.0.2)

In [40]:
import pickle

In [41]:
#pickle.dump(pipe,open('Car_price.pkl','wb'))

In [42]:
#pipe.predict(pd.DataFrame([['Maruti Suzuki Wagon','Maruti',2017,27000,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))